# PostgreSQL Bağlantı Adresi
DATABASE_URL="postgresql://milkiq:milkiq_secret_2026@db:5432/milkiq?schema=public"

# Varsayılan Giriş PIN Kodu
DEFAULT_PIN="1234"

# Üretim Ortam Ayarları
NODE_ENV="production"
PORT=3000
NEXTAUTH_URL="https://milkiq.erkanerdem.online"
NEXTAUTH_SECRET="milkiq_production_secret_key_889900"

# Mail & Sistem Yönetim Giriş PIN Kodu (mailayar sayfası)
MAIL_ADMIN_PIN="518518"

# Gmail / SMTP Hata Bildirim Ayarları (Opsiyonel - Doğrudan /mailayar arayüzünden de girilebilir)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SECURE="true"
SMTP_USER="erkanerdem8254@gmail.com"
SMTP_PASS=""
NOTIFICATION_EMAIL="erkanerdem8254@gmail.com"
SMTP_ENABLED="false"
